@import "../abstracts/color";
@import "../abstracts/fonts";

.analog-header {
    margin: 1em 1em 1em 1em;
    display: flex;

    img {
        padding-right: 8.5rem;
    }

    p {
        color: $font-color-primary;
        font-family: "PT Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2px;
    }
}
.analog-main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}