$firstpage-background-color: #000000;
$timer-background-color:#EEEEEE;
$alarm-background-color: #222222;

$font-color-primary: #222222;
// färg på font i meny och larmvy
$font-color-secondary: #FFFFFF;
$font-color-secondary-darker:#999999;


//Circle Radiant colors
$color-circle-radiant-first: #393939;
$color-circle-radiant-second:#313131;
$color-circle-radiant-third: #262626;
$color-circle-radiant-fourth: #222222;

